@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Neucha');

div{
    outline: px solid lime;
}

html{
    scroll-behavior: smooth;
}

.Header{
    width: 920px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;350`
}

.Him{
    width: 230px;
    height: 125px;
    margin-left: 345px;
    margin-right: 345px;
    font-size: 5.5rem;
    padding-bottom: 15px;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

.theartist{
    width: 136px;
    height: 40px;
    margin-left: 392px;
    margin-right: 392px;
    font-size: 2.4rem;
    font-family: 'Reenie Beanie', cursive;
}

.links{
    height: 26px;
    width: 920px;
    text-align: center;
    position: fixed;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.7rem;
    background-image: url(img/nav_2.jpg);
    margin-top: 0;
}

.links a{
    padding-left: 50px;
    padding-right: 57px;
    color: black;
    text-decoration: none;
}

.links a:hover{
    color: brown; 
}

.homeimage{
    width: 920px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    outline: 3px solid black;  
}

.about{
    width: 920px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    outline: 3px solid black;
}

.sideimage1{
    width: 200px;
    height: 185px;
    float: left;
    margin-top: 100px;
    padding-top: 15px
}

.about_content_box{
    width: 520px;
    height: 300px;
    float: left;
}

.abouttitle{
    width: 150px;
    height: 60px;
    float: left;
    font-size: 5rem;
    margin-left: 186px;
    margin-top: 10px;
    float: left;
    font-family: 'Reenie Beanie', cursive;
}

.aboutcontent{
    width: 520px;
    height: 240px;
    float: left;
    font-size: 1.374rem;
    font-family: 'Neucha', cursive;
}

.sideimage2{
    width: 200px;
    height: 200px;
    float: left;
}

.artcontainer{
    width: 920px;
    height: 744px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    outline: 3px solid black;
}

.arttitle{
    width: 100px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5rem
}

.pic_2{
    width: 200px;
    height: 345px;
    float: left;
    margin-left: 24px;
}

.pic_3{
    width: 200px;
    height: 345px;
    float: left;
    margin-left: 24px;
}

.pic_4{
    width: 200px;
    height: 345px;
    float: left;
    margin-left: 24px;
}

.pic_5{
    width: 200px;
    height: 345px;
    float: left;
    margin-left: 24px;
}

.pic_1{
    width: 468px;
    height: 300px;
    float: left;
    margin-top: 24px;
    margin-left: 226px;
}

.musiccontainer{
    width: 920px;
    height: 460px;
    outline: 3px solid black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;    
}

.musictitle{
    width: 137px;
    height: 70px;
    margin-left: 391.5px;
    margin-right: 391.5px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5rem;
    float: left;
}

.musicart{
    height: 350px;
    width: 280px;
    float: left;
    margin-left: 20px;

}

audio{
    width: 280px;
    height: 32px;
    margin-left: 20px;
    float: left;
    outline: 3px solid black;
}

.contact{
    width: 920px;
    height: 380px;
    outline: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contacttitle{
    width: 214px;
    height: 65px;
    margin-left: 353px;
    margin-right: 353px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5rem;
    float: left;
}

.contactcontent{
    width: 350px;
    height: 300px;
    float: left;
    font-family: 'Neucha', cursive;
    text-align: center;
    font-size: 1.8rem;
}

.contentimage{
    width: 285px;
    height: 300px;
    float: left;
}



